<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="Document Site">
		<link rel="icon" href="/favicon.ico">
		<link rel="canonical" href="https://example.com" />


		<title>Document Site</title>

		<!-- Bootstrap core CSS -->
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

		<!-- Custom styles for this template -->
		<link href="assets/styles/screen.css" rel="stylesheet">
		<link href="assets/fonts/adobe-fan-heiti/stylesheet.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Thasadith" rel="stylesheet">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
		<script src="assets/scripts/test_api.js"></script>

		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">

		<!-- Twitter sharing -->
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:site" content="@example" />
		<meta name="twitter:title" content="" />
		<meta name="twitter:description" content="" />
		<meta name="twitter:image" content="https://example.com/assets/images/identity-resolution.jpg" />

		<!-- facebook sharing -->
		<meta property="og:url" content="https://example.com" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content="" />
		<meta property="og:description" content="" />
		<meta property="og:image" content="https://example.com/assets/images/identity-resolution.jpg" />

		<!-- Google Tag Manager -->
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','');</script>
		<!-- End Google Tag Manager -->

	</head>

	<body id="home">
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id="
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->

	<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
		<a class="navbar-brand" href="/">Document Site</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarsExampleDefault">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="/pricing">Pricing</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="http://api.example.com/v1/">Documentation</a>
				</li>
				  <li class="nav-item">
					<a class="nav-link" href="/account/signin">Sign In</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/account/register">Get Free API Key</a>
				</li>
			</ul>
		</div>
	</nav>

	<article id="hero">
		<div class="hero_overlay">
			<section class="container">
				<div class="hero_overlay_container">
					<h1><em>Add content to PDFs</em></h1>
					<p class="subtitle">
						Add watermarks, text, and more to PDFs.
					</p>
				</div>
				<div class="hero_overlay_container_left">
					<p>
						<a class="btn btn-primary btn-lg" href="/account/register" role="button">Sign Up Free</a>
						<a class="btn btn-primary btn-lg" href="http://api.example.com/v1/" role="button">API Documentation</a>
					</p>
				</div>
			</section>
		</div>
	</article>

	<article id="features">
		<section class="container">
			<h2>Get more out of your PDFs</h2>
			<div class="row">
				<div class="col-md-3">
					<h3>Powerful and Scalable</h3>
					<p>From a hundred requests a month to several thousand a day &mdash; our scalable cloud infrastructure has got you covered at any stage.</p>
				</div>
				<div class="col-md-3">
					<h3>State-of-the-art</h3>
					<p>Automatically generate a new PDF in seconds with custom text and watermarks.</p>
				</div>
				<div class="col-md-3">
					<h3>Integrate in Minutes</h3>
					<p>Powerful and complex on the inside, simple on the outside &mdash; our sleek JSON API design will get you up and running in under 10 minutes.</p>
				</div>
				<div class="col-md-3">
					<h3>Easy on your budget</h3>
					<p>Document annotation is a business necessity. Make 10.000 requests a month for free &mdash; need more? Premium plans start at just $10.</p>
				</div>
			</div>
		</section>
	</article>

	<article id="more_reasons">
		<section class="container">
			<h2>Your one-stop shop for PDF annotation</h2>
			<p>
			With our API you can:
			</p>
			<ul>
				<li>Watermark your PDF</li>
				<li>Add text to a PDF</li>
				<li>Fill out PDF forms</li>
			</ul>
			</div>
		</section>
	</article>

	<article id="call_to_action">
		<section class="container">
		
			<div class="row">
				<div class="col-md-8">
					<p class="action">Take PDF annotation to the next level now &mdash; it's free</p>
				</div>
				<div class="col-md-4">
					<a href="/account/register" class="btn">Get Free API Key</a>
				</div>
			</div>
		</section>
	</article>

	<footer>
		<section class="container">
			<p>&copy; 2018 Document Site</p>
				<p><a href="/contact">Contact Us</a></p>
			<p><a href="/terms">Terms of Use</a></p>
		</section>
	</footer>

	</body>
</html>
