a {
	color: #202C59 !important;
}
.menu-content {
	background-color: #581F18 !important;
}
.menu-content .ixfdRO {
	color: #fff;
}
.iJUwRU {
	background-color: #D95D39;
}
.bRFgPh .bwNGAy, .kVweLN, .diqfaT p {
	color: #fff !important;
}

.kmipUx {
	background-color: #D95D39;
}

.fSEbYg:hover {
	background-color: #D95D39;	
}

.kXBEML {
	background-color: #D95D39 !important;
}

.eoxkJU {
	background-color: #202C59 !important;
	color: #D95D39 !important;
	border: 1px solid #202C59 !important;
	border-radius: .3rem !important;
}
.kmvDqY {
	display: none !important;
}
.gtqIqk {
	color: #fff !important;
}

.security-details tr {
	background-color: #000 !important;
}
.bZzFwo {
	color: #fff !important;
}
.bwNGAy p {
	color: #000 !important;
}

.active {
	background-color: #D95D39 !important;
}
